.DS_Store
Nixieclock/platformio.ini
.gitignore
Nixieclock/.vscode/extensions.json
Nixieclock/.vscode/settings.json
Nixieclock/include/README
Nixieclock/lib/README
Nixieclock/lib/Arduino-DS3231-dev/CHANGELOG
Nixieclock/lib/Arduino-DS3231-dev/keywords.txt
Nixieclock/lib/Arduino-DS3231-dev/library.json
Nixieclock/lib/Arduino-DS3231-dev/library.properties
Nixieclock/lib/Arduino-DS3231-dev/README.md
.gitignore
Nixieclock/lib/Arduino-DS3231-dev/LICENSE
Nixieclock/lib/Arduino-DS3231-dev/examples/DS3231_dateformat/DS3231_dateformat.ino
.gitignore
Nixieclock/lib/Arduino-DS3231-dev/examples/DS3231_intalarm/DS3231_intalarm.ino
Nixieclock/lib/Arduino-DS3231-dev/examples/DS3231_simple/DS3231_simple.ino
Nixieclock/lib/Arduino-DS3231-dev/examples/DS3231_alarm/DS3231_alarm.ino
Nixieclock/lib/Arduino-DS3231-dev/examples/DS3231_temperature/DS3231_temperature.ino
Nixieclock/lib/Arduino-DS3231-dev/src/DS3231.cpp
Nixieclock/lib/Arduino-DS3231-dev/src/DS3231.h
Nixieclock/lib/Arduino-DS3231-dev/examples/DS3231_sqw_32khz/DS3231_sqw_32khz.ino
Nixieclock/test/README
